<!DOCTYPE html><!doctype html>

<html lang="en">
<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    .nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;}
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet"
          integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body style="background: #FAFAFA">
<div style="display: flex;flex-direction: column; align-items:center; width: 100%; font-family: NanumBarunGothic">
    <div style="padding-bottom:31px;text-align: center ;border: solid 1px rgba(219,219,219,1); width: 300px; height: 450px; margin-top: 30px; background: white;padding: 20px">
        <div style="text-align: center;padding-left:30px; padding-right:30px;padding-bottom:20px;padding-top:10px;font-family: 'Nanum Gothic';font-weight:600;font-size: xxx-large">OFER</div>
        <div style="font-weight: bold; color: gray;padding: 20px "> 친구들의 사진과 동영상을 보려면 가입하세요.</div>

        <!-- 이메일 주소 입력받기 -->
        <div class="form-floating mb-3">
            <input type="email" class="form-control" style="font-size: 14px;height: 24px" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" style="font-size: 14px; padding:8px 10px;">이메일 주소</label>
        </div>


        <!-- 패스워드 입력받기 -->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" style="font-size: 14px; height : 24px" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" style="font-size: 14px; padding:8px 10px;">비밀번호</label>

        <!-- 로그인버튼 -->
        <button class="btn btn-primary" style="width: 100% ; margin-top: 30px;margin-bottom: 30px">로그인</button>

    </div>


        <!-- 가입하기 박스 -->
        <div style="padding-bottom:30px;text-align: center ;border: solid 1px rgba(219,219,219,1); width: 300px; height: 70px; margin-top: 30px; background: white ;font-family: NanumBarunGothicOTF;font-size: 13px">
            <div style="margin-top: 23px">계정이 없으신가요? <a href="join">가입하기</a></div>
        </div>
    </div>
</div>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>